* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/* header */
header {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: green;
}
nav .element {
    font-size: 0.75em;
}
nav .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
nav .title {
}
nav .reference-links {
}
/* main */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container {
}
.calculator-frame {
}
.calculator-container button {
    font-size: 2em;
    height: 3em;
    width: 3em;
}
.display {
}
p.text-output {
}
.left-buttons {
}
.special-actions {
}
button.clear {
}
button.delete {
}
button.decimal-separator {
}
.numbers {
}
.numbers button {
}
.right-buttons {
}
.operations {
}
button.plus {
}
button.minus {
}
button.multiply {
}
button.divide {
}
button.result {
}
