* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/* header */
header {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: green;
}
nav .element {
    font-size: 0.75em;
}
nav .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
nav .title {
    font-weight: bolder;
    font-size: 1.5em;
}
/* main */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container {
    margin-left: 10em;
    margin-right: 10em;
}
.calculator-container .calculator-frame {
    border: 2px outset black;
}
.calculator-container .calculator-frame.flex-wrapper {
    display: flex;
    flex-direction: column;
}
.calculator-container .display {
    display: flex;
    background-color: bisque;
    border: 2px outset black;
    justify-content: end;
}
.calculator-container .display .text-output {
    min-height: 4rem;
    max-height: 4rem;
    max-width: 26rem;
    font-size: 3em;
    overflow: hidden;
    direction: rtl;
}
.calculator-container .buttons.flex-wrapper {
    display: flex;
}
.calculator-container .left-buttons.flex-wrapper {
    display: flex;
    flex-direction: column;
}
.calculator-container .left-buttons .special-actions.flex-wrapper {
    display: flex;
}
.calculator-container .left-buttons .special-actions .clear {
    flex-grow: 1;
    font-size: 100;
}
.calculator-container .left-buttons .numbers .zero-to-other.flex-wrapper {
    display: flex;
}
.calculator-container .left-buttons .numbers .flex-wrapper {
    display: flex;
}
.calculator-container .left-buttons .numbers .zero {
    flex-grow: 1;
}
.calculator-container .right-buttons .operations.flex-wrapper {
    display: flex;
    flex-direction: column;
}
.calculator-container .buttons button {
    font-size: 2em;
    height: 3em;
    width: 3em;
}
